@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

table {
    margin-top: 2rem;
    border-collapse: collapse;
    height: 400px;
    width: 400px;
    
    
}

td  {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align:middle;
}

