

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

.titulos {
    text-align: center;
    margin: 20px;
    line-height: 3em;
}

.logo{
    color: springgreen;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}


/*primeira navbar*/

.nav1 {
    margin-top: 20px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    padding: 10px 10%;
}

li {
    display: inline-block;
}

.menu {
    margin: auto;
}

ul >li {
    border-radius: 15px;
    padding: 5px 15px;
    background-color: springgreen;
    transition: .3s;
}

ul > li > a {
    color: black;
    font-size: 1.2em; 
}

ul > li:hover {
    background-color: rgb(118, 199, 160);
}



/*navbar 2 com justify-content*/

.nav2 {
    margin-top: 20px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}


/*terceira com margin*/
.nav3 {
    margin-top: 20px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    padding: 10px 10%;
}

.menu3 {
    margin-right: auto;
    margin-left: 20px;

}